* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1vw;
    font-family: 'PN Regular';
}

@media (min-width:1600px) {
    html {
        font-size: 16px;
    }
}

.container {
    width: 87.5rem;
    margin: auto;

}

@media (max-width:1024px) {
    .container {
        width: 100%;
    }
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}


.d-block {
    display: block;
}

:root {
    --MAIN-color: #fff;
    --greyscaletext-0: #fff;
    --greyscaletext-5:
        #ECECEC;
    --PRIMARY-blue-400: #1E60C1;
    --PRIMARY-blue-500: #134A9B;
    --PRIMARY-blue-600: #0F3F87;
    --PRIMARY-blue-700: #0d356e;
    --SECONDARY-blue-50: #E8F8FB;
    --SECONDARY-blue-200: #96DEEE;
    --SECONDARY-blue-400: #45ddff;
    --SECONDARY-blue-500: #1AB7DA;

    --HEADER-HEIGHT: 7.375rem;
}



ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

@font-face {
    font-family: 'PN Bold';
    src: url('../fonts/Proxima\ Nova\ Bold\ vh.ttf');
}

@font-face {
    font-family: 'PN Regular';
    src: url('../fonts/Proxima\ Nova\ Regular\ vh.ttf');
}

@font-face {
    font-family: 'PN Semibold';
    src: url('../fonts/Proxima\ Nova\ Semibold\ vh.ttf');
}


@media (max-width: 767px) {
    .mobile {
        display: block;
    }

    section:not(#features) {
        max-width: 23.4375rem;
        overflow: hidden;
    }

    section:not(#features):not(.second-section):not(.first-section) {
        padding-top: 1.65rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        overflow: hidden;
    }

    section.eighth-section:not(#features):not(.second-section) {
        padding-right: 0 !important;
    }


    .no-padding {
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .mobile {
        display: none !important;
    }

    .tablet {
        display: block;
    }

    button#view-more,
    .fifth-section button.more {
        display: none !important
    }


}

@media (min-width:1024px) {
    .mobile {
        display: none !important;
    }

    .tablet {
        display: none !important;
    }

    button#view-more,
    .fifth-section button.more {
        display: none !important
    }

}