@media (max-width: 767px) {
  .first-section {
    position: static;
  }
  .first-section header.header-wrapper .search-bar img {
    width: 5.76rem;
    height: 5.76rem;
    flex-shrink: 0;
  }
  .first-section header.header-wrapper {
    padding: 0;
  }
  .first-section header.header-wrapper .header-top {
    width: 100rem;
    height: 16rem;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 0px 7px 0px rgba(136, 165, 205, 0.25);
    margin-bottom: 0;
  }
  .first-section header.header-wrapper img.logo {
    width: 36.8rem;
    height: 8rem;
    flex-shrink: 0;
  }
  .first-section header.header-wrapper .search-bar {
    display: flex;
    width: 9.6rem;
    height: 9.6rem;
    padding: 1.92rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4.8rem;
    margin-left: 4.27rem;
    background: var(--PRIMARY-blue-50, #e7edf5);
    cursor: pointer;
  }
  .first-section header.header-wrapper .search-bar input.search-input {
    display: none;
  }
  a:has(img.logo) {
    order: 1;
  }
  a:has(img.logo) img.logo {
    width: 8.625rem;
    height: 1.875rem;
    flex-shrink: 0;
  }
  .menu-right {
    display: none !important;
  }
  .menu {
    cursor: pointer;
    order: 3;
    display: flex;
    width: 11.73333rem;
    height: 11.73333rem;
    justify-content: center;
    align-items: center;
    gap: 2.66667rem;
    flex-shrink: 0;
    margin-right: 2.67rem;
  }
  .menu img {
    width: 100%;
    height: 100%;
    margin-right: 2.67rem;
  }
  nav.header-nav {
    display: none;
  }
  header.header-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    justify-content: center;
  }
  header.header-wrapper .header-top {
    width: 100%;
  }
  .second-section {
    position: relative;
    width: 100rem;
    height: 100.26667rem;
    flex-shrink: 0;
  }
  .second-section .top-text {
    top: 5.81rem;
    right: 4.27rem;
    left: 4.27rem;
  }
  .second-section .top-text ul {
    flex-direction: column;
    display: flex;
    width: 90.4rem;
    align-items: flex-start;
    align-content: flex-start;
    gap: unset !important;
    flex-wrap: wrap;
  }
  .second-section .top-text .title {
    width: 15.25rem;
    margin-top: 5.87rem;
    margin-left: 0;
  }
  .second-section .overlay {
    flex-shrink: 0;
    width: 165.40027rem;
    height: 39.168rem;
    flex-shrink: 0;
  }
  .second-section p {
    display: none;
  }
  .second-section img {
    width: 50.81938rem;
    height: 28rem;
    flex-shrink: 0;
  }
  .second-section .top-text nav.bread-crumb ul .history {
    margin-left: 0;
    gap: unset;
    margin-bottom: 1.6rem;
  }
  .second-section .top-text nav.bread-crumb ul .history li {
    margin: 0 1.6rem;
  }
  .second-section .top-text nav.bread-crumb ul .history li:first-child {
    margin-left: 0;
  }
  .second-section .bg-1 {
    position: absolute;
    right: -36rem;
    top: 0rem;
    width: 162rem;
    height: 100.36907rem;
    object-fit: unset;
  }
  .second-section .top-text nav.bread-crumb ul a,
  .second-section .top-text nav.bread-crumb ul .seperator,
  .second-section .top-text nav.bread-crumb ul a.active {
    font-size: 3.73333rem;
  }
  .second-section .top-text .title {
    font-size: 8.53333rem;
    text-align: unset;
    width: 65.06667rem;
  }
  .third-section .item-1 {
    display: flex;
    width: 21.4375rem;
    padding-top: 1.5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2.1845rem;
  }
  .third-section .item-1 .img {
    width: 100%;
    height: 61.4656rem;
  }
  .third-section .item-1 div p.title {
    color: var(--PRIMARY-blue-600, #0f3f87);
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.015rem;
    width: 72.53333rem;
    margin-bottom: 3.2rem;
  }
  .third-section .item-1 div p {
    color: var(--PRIMARY-blue-400, #1e60c1);
    text-align: justify;
    font-size: 4.26667rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.0125rem;
    width: 80.8rem;
    height: 37.86667rem;
    margin-bottom: 9.32rem;
  }
  .third-section .item-1 div p.title span {
    color: var(--SECONDARY-blue-500, #1ab7da);
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.8rem */
    letter-spacing: -0.015rem;
  }
  .third-section .item-1 {
    padding-left: 0;
    width: 100%;
    margin-bottom: 6.4rem;
  }
  .third-section {
    padding-top: 13.9rem;
    padding-bottom: 10.93rem;
  }
  .third-section .item-2 {
    width: 21.4375rem;
    height: 48.6875rem;
    flex-direction: column;
    padding-left: 0;
    border-radius: 3.2rem;
    justify-content: unset;
  }
  .third-section .item-2 .img {
    width: 100%;
    height: 90.66667rem;
    flex-shrink: 0;
    padding-top: 2.19rem;
    margin-bottom: 4rem;
  }
  .third-section .item-2 div.wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: unset;
    flex-shrink: 0;
    padding: 0 5.33rem;
  }
  .third-section .item-2 div.wrapper .sub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
  }
  .third-section .item-2 div.wrapper div p {
    color: var(--PRIMARY-blue-700, #0d356e);
    text-align: justify;
    font-size: 3.73333rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.3125rem */
  }
  .third-section .item-2 {
    gap: unset;
    border-radius: 2.66667rem;
    background: #f6faff;
    width: 100%;
    height: unset;
  }
  .third-section .item-1 {
    height: unset;
    border-radius: 0.625rem;
    background: #f6faff;
  }
  .third-section .item-1 div p,
  .third-section .item-2 div.wrapper div p {
    height: unset !important;
    margin-top: -1rem;
  }
  .third-section .item-2 div.wrapper .sub-wrapper,
  .third-section .item-2 div.wrapper div.more p,
  .third-section .item-2 div.wrapper p,
  .third-section .item-2 div.wrapper div p,
  .third-section .item-2 div.wrapper {
    width: unset;
  }
  .third-section .item-2 div.wrapper p {
    height: unset;
    text-align: left;
    font-size: 5.33333rem;
    margin-bottom: 8.53rem;
  }
  .sub-wrapper img {
    width: 4.37573rem;
    height: 3.02933rem;
    margin-right: 2.6rem;
  }
  .fourth-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: unset;
    padding-bottom: unset;
  }
  .fourth-section div p.title {
    width: unset;
    /* color: var(--SECONDARY-blue-400, #45DDFF); */
    text-align: center;
    /* font-family: "Proxima Nova"; */
    font-size: 8.53333rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.06rem;
  }
  .fourth-section div p.title span {
    font-size: unset;
  }
  .pc .title,
  .right-item {
    display: none !important;
  }
  .fourth-section div {
    height: unset;
    width: unset;
  }
  .fourth-section div p.title {
    margin-bottom: unset;
  }
  .fourth-section div.content .img-wrapper {
    position: relative;
    right: 10rem;
  }
  .fourth-section div.content img {
    margin-top: 4rem;
    width: 119.42027rem;
    height: 97.6744rem;
    flex-shrink: 0;
  }
  .fourth-section div.content p.text {
    width: 100%;
    height: 46.4rem;
    color: var(--greyscaletext-0, #fff);
    text-align: justify;
    /* WEB/BODY1/SEMI BOLD */
    font-family: "PN Semibold";
    font-size: 4.26667rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.5rem */
    margin-top: -8rem;
    margin-bottom: 3.73rem;
  }
  .fourth-section ul {
    margin-top: 1.02rem;
    width: 100%;
    max-height: 94.8712rem;
    overflow: hidden;
    position: relative;
  }
  .fourth-section ul li {
    padding-top: 4.07rem;
    width: 100%;
    padding-bottom: 4.07rem;
    justify-content: unset;
    border-bottom: 0.0625rem solid rgba(231, 237, 245, 0.5);
  }
  .fourth-section ul li:last-child {
    border-bottom: 0;
  }
  .fourth-section ul li.seperator {
    display: none;
    width: 100%;
  }
  .fourth-section ul li img {
    width: 4.23707rem;
    height: 2.93333rem;
  }
  .fourth-section ul li p {
    font-size: 4.26667rem;
    width: unset;
  }
  .fourth-section ul .overlay {
    position: absolute;
    right: -0.0625rem;
    bottom: 0;
    height: 8.5rem;
    background: linear-gradient(180deg, rgba(19, 74, 155, 0) 0%, rgba(19, 74, 155, 0.81) 57.5%, #134a9b 100%);
    width: 91.73333rem;
    height: 36.26667rem;
  }
  .fourth-section ul button {
    background: var(--greyscaletext-0, #fff);
    color: var(--PRIMARY-blue-500, #134a9b);
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 2.13333rem 2.13333rem 2.13333rem 6.4rem;
    align-items: center;
    border-radius: 6.4rem;
    text-align: center;
    /* WEB/SUB1/SEMI BOLD */
    font-family: "PN Semibold";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.2rem */
    letter-spacing: 0.0125rem;
  }
  .fourth-section ul button span {
    font-size: 4.26667rem;
    margin-left: 2.13rem;
  }
  .fourth-section ul button:hover {
    background: var(--SECONDARY-blue-400);
  }
  .fourth-section ul button:active {
    background: var(--SECONDARY-blue-500);
  }
  .fourth-section ul button img {
    width: unset;
    height: unset;
  }
  .fifth-section {
    overflow: hidden;
    min-height: 160.8rem;
    flex-shrink: 0;
  }
  .fifth-section img.bg-pc {
    display: none;
  }
  .fifth-section .text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 14.4rem;
    left: unset;
    position: relative;
  }
  .fifth-section .text .content-wrapper {
    overflow: hidden;
  }
  .fifth-section .text h2 {
    margin-bottom: 6.4rem;
  }
  .fifth-section .text ul li {
    padding-bottom: 3.73rem;
    padding-top: 3.73rem;
    width: 100%;
    border-bottom: 0.0625rem solid rgba(0, 34, 84, 0.12);
  }
  .fifth-section .text ul li:first-child {
    padding-top: 0;
  }
  .fifth-section .text ul li:last-child {
    border-bottom: 0;
  }
  .fifth-section .text h2 {
    font-size: 8.53333rem;
  }
  .fifth-section .text ul li .num-wrapper {
    width: 7.46667rem;
    height: 7.46667rem;
    flex-shrink: 0;
  }
  .fifth-section .text ul li .num-wrapper span {
    font-size: 3.73333rem;
  }
  .fifth-section .text ul li h3 {
    font-family: "PN Semibold";
    font-size: 4.26667rem;
    margin-left: 3.2rem;
  }
  .fifth-section .text ul {
    width: 100%;
  }
  button#view-more-2 {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.5rem;
    background: var(--greyscaletext-0, #fff);
    color: var(--PRIMARY-blue-500, #134a9b);
    text-align: center;
    /* WEB/SUB1/SEMI BOLD */
    font-family: "PN Semibold";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.2rem */
    letter-spacing: 0.0125rem;
  }
  button#view-more-2:hover {
    background: var(--SECONDARY-blue-400);
  }
  button#view-more-2:active {
    background: var(--SECONDARY-blue-500);
  }
  button#view-more-2 img {
    width: 2rem;
    height: 2rem;
  }
  .fifth-section button {
    background: var(--PRIMARY-blue-700);
    color: var(--greyscaletext-0, #fff);
    position: absolute;
    bottom: 12.8rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 2.13333rem 2.13333rem 2.13333rem 6.4rem;
    align-items: center;
    border-radius: 6.4rem;
    text-align: center;
    /* WEB/SUB1/SEMI BOLD */
    font-family: "PN Semibold";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.2rem */
    letter-spacing: 0.0125rem;
  }
  .fifth-section button span {
    font-size: 4.26667rem;
    margin-left: 2.13rem;
  }
  .fifth-section button:hover {
    background: var(--SECONDARY-blue-400);
  }
  .fifth-section button:active {
    background: var(--SECONDARY-blue-500);
  }
  .fifth-section button img {
    width: unset !important;
    height: unset !important;
  }
  .bg-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .sixth-section {
    padding-top: 15.2rem;
    background: #edf4fb;
  }
  .sixth-section .slide-wrapper .swiper-1 .button-wrapper {
    display: none;
  }
  .sixth-section header .button-wrapper {
    display: none;
  }
  .sixth-section .content h2 {
    font-size: 2rem;
  }
  .sixth-section header .text p.top {
    font-size: 3.73333rem;
    text-align: center;
    margin-bottom: 2.13rem;
  }
  .sixth-section header .text p {
    font-size: 8.53333rem;
    text-align: center;
  }
  .sixth-section header {
    justify-content: center;
    width: unset;
  }
  .sixth-section .slide-wrapper .swiper-1 .patient-photo-wrapper img {
    display: none;
  }
  .sixth-section .slide-wrapper .swiper-1 .patient-infor-wrapper {
    flex-direction: row;
  }
  .sixth-section .slide-wrapper .swiper-1 .patient-infor-wrapper .patient-info {
    order: 0;
  }
  .sixth-section .slide-wrapper .swiper-1 .patient-infor-wrapper .stars {
    order: 1;
  }
  .sixth-section .slide-wrapper .swiper-1 .patient-slide {
    flex-direction: column;
    padding-left: 4.76rem;
    padding-right: 4.76rem;
    padding-top: 5.57rem;
    border-radius: 1rem;
    background: #000;
    height: 100%;
  }
  .sixth-section .slide-wrapper .swiper-1 .stars img {
    width: 5.2032rem;
    height: 5.2032rem;
  }
  .sixth-section .slide-wrapper .swiper-1 {
    width: 100%;
    height: 100%;
  }
  .sixth-section .slide-wrapper {
    width: unset;
    padding-top: 6.4rem;
    height: 186.13333rem;
  }
  video.mobile {
    width: 100%;
    height: 46.66667rem;
    flex-shrink: 0;
  }
  .seventh-section {
    background: #edf4fb;
    display: flex;
    width: 23.4375rem;
    height: 52.8125rem;
    padding: 2.9095rem 1.03125rem 5.375rem 1.03125rem;
    flex-direction: column;
    align-items: center;
    gap: 1.778rem;
    padding-bottom: 1.63rem;
  }
  .seventh-section .content h2 {
    font-size: 2rem;
  }
  .seventh-section .image-wrapper {
    display: none;
  }
  .seventh-section .content {
    width: 100%;
  }
  .seventh-section .content form .double-input .input-group {
    flex: unset;
  }
  .seventh-section .content form .left-items {
    width: 100%;
    gap: 1rem;
  }
  .seventh-section .content form {
    flex-direction: column;
    width: 100%;
    flex: 1;
    gap: 1rem;
  }
  .seventh-section .content form .right-items .button-wrapper {
    flex-direction: column;
    gap: 0.75rem;
  }
  .seventh-section .content form .right-items .button-wrapper button {
    flex: 1;
    width: 100%;
  }
  .seventh-section .content form .right-items {
    gap: 1.5rem;
  }
  .seventh-section .content form .double-input {
    flex-direction: column;
  }
  .seventh-section .content form .input-group:has(textarea),
  .seventh-section .content form .textarea-group:has(textarea) {
    display: flex;
    height: 7.875rem;
    padding: 1rem 0.75rem 0.75rem 1rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .eighth-section {
    height: unset;
    padding-bottom: 15.47rem;
    padding-top: 11.73rem;
  }
  .eighth-section header {
    width: unset;
  }
  .eighth-section .swiper-slide {
    width: 12.5625rem;
    height: 80rem;
    flex-shrink: 0;
    border-radius: 2.66667rem;
    cursor: pointer;
  }
  .eighth-section .swiper-slide .overlay {
    width: 100%;
    height: 59.2rem;
    flex-shrink: 0;
  }
  .eighth-section .swiper-slide .infor {
    top: 60rem;
    right: 3.2rem;
    left: 3.2rem;
    padding: unset;
  }
  .eighth-section .swiper-slide .infor .text p.title {
    font-size: 3.2rem;
    margin-bottom: 0.53rem;
  }
  .eighth-section .swiper-slide .infor .text p.name {
    font-size: 3.73333rem;
  }
  .eighth-section .swiper-slide .infor button.more {
    width: 5.06667rem;
    height: 5.06667rem;
  }
  .eighth-section .swiper-slide .infor button.more img {
    width: 2rem;
    height: 2rem;
  }
  .eighth-section header .text p.top {
    font-size: 3.73333rem;
    margin-bottom: 1.07rem;
  }
  .eighth-section .mySwiper {
    margin-top: 6.4rem;
  }
  .eighth-section header .text p {
    font-size: 8.53333rem;
  }
  .eighth-section header .button-wrapper {
    display: none;
  }
  .footer-pc {
    display: none !important;
  }
  footer:not(.footer-pc) {
    position: relative;
    height: 205.59733rem;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0 1rem;
  }
  footer:not(.footer-pc) section {
    height: 100%;
  }
  footer:not(.footer-pc) p.desc {
    font-size: 4.26667rem;
  }
  footer:not(.footer-pc) img.footer-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }
  footer:not(.footer-pc) .overlay {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    flex-shrink: 0;
    background: linear-gradient(182deg, #043781 9.37%, rgba(19, 74, 155, 0.95) 78.36%, rgba(19, 74, 155, 0.8) 100.6%);
  }
  footer:not(.footer-pc) .line {
    position: absolute;
    bottom: 6.51rem;
    right: 0;
    left: 0;
    height: 0.0625rem;
    opacity: 0.5;
    background: #fff;
  }
  footer:not(.footer-pc) .copyright {
    border-top: 0.26667rem solid rgba(231, 237, 245, 0.5);
    padding: 9.86rem 0 6.73rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: var(--greyscaletext-5);
    left: 0;
  }
  footer:not(.footer-pc) .copyright p {
    color: var(--greyscaletext-5, #ececec);
    /* WEB/BUTTON/REGULAR */
    font-size: 3.73333rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  footer:not(.footer-pc) .copyright p:last-child {
    margin-top: 2.13rem;
  }
  footer:not(.footer-pc) .content {
    color: var(--greyscaletext-0);
    top: 9.87rem;
    position: relative;
  }
  footer:not(.footer-pc) .content .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer:not(.footer-pc) .content .top a {
    margin-bottom: 4.27rem;
    width: 66.93333rem;
    height: 14.93333rem;
    display: inline-block;
  }
  footer:not(.footer-pc) .content .top a img {
    width: 100%;
    height: 100%;
  }
  footer:not(.footer-pc) .content .code {
    margin: 1.5rem 0;
  }
  footer:not(.footer-pc) .content .scale-5,
  footer:not(.footer-pc) .content ul li a {
    margin: 6.4rem 0;
    color: var(--greyscaletext-5);
    font-size: 3.73333rem;
  }
  footer:not(.footer-pc) .content .socials {
    display: flex;
    align-items: center;
  }
  footer:not(.footer-pc) .content .socials a {
    margin-top: unset;
    margin-bottom: 12rem;
    margin-right: 3.33rem;
    display: flex;
    width: 10.66667rem;
    height: 10.66667rem;
    justify-content: center;
    align-items: center;
  }
  footer:not(.footer-pc) .content .socials a img {
    width: 100%;
    height: 100%;
  }
  footer:not(.footer-pc) .content .middle-part {
    align-items: flex-start;
  }
  footer:not(.footer-pc) .content .footer-item h2 {
    margin-bottom: 2.13rem;
    color: var(--greyscaletext-0, #fff);
    text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.24);
    /* APP/SUB2/BOLD */
    font-family: "PN Bold";
    font-size: 3.73333rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.05rem */
    letter-spacing: 0.00875rem;
  }
  footer:not(.footer-pc) .content .footer-item ul li a {
    color: var(--greyscaletext-5, #ececec);
    margin-bottom: 1.07rem;
    /* WEB/BODY2/REGULAR */
    font-size: 3.73333rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
    letter-spacing: 0.00219rem;
  }
  footer:not(.footer-pc) .content .footer-item.news {
    margin-top: 7.84rem;
  }
  footer:not(.footer-pc) .content .footer-item.about {
    margin-left: auto;
  }
  .blur {
    display: none;
  }
  .date-wrapper span:not(.mobile) {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .fourth-section .pc .title,
  footer:not(.footer-pc) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer:not(.footer-pc),
  .fourth-section .pc .more,
  .fourth-section .pc .title {
    display: none !important;
  }
}/*# sourceMappingURL=responsive.css.map */